<body>
  <div class="container">

    <h1>Ingresar Escuela</h1>
    <div class="row">

      <form #guardarContratoForm="ngForm" (ngSubmit)="guardarEscuela(guardarContratoForm.value)" class="form"
        novalidate>

        <div class="row">
          <div class="column col-4">
            <label><strong>INGRESE ID: </strong></label>&nbsp;
            <input name="idEscuela" type="search" class="search" #idInput="ngModel" ngModel required
              placeholder="" autocomplete />
            <a class="buscarButton" (click)="buscarEscuela(idInput.value)">
              BUSCAR
            </a>
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Nombre</label>
            <input [disabled]="!editModeHabilitado" name="nombre" type="text" [(ngModel)]="escuela.nombre" />
            <input name="idEscuela" type="text" [(ngModel)]="escuela.idEscuela" hidden />
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Total Alumnos</label>
            <input [disabled]="!editModeHabilitado" name="cantidadAlumnos" type="number" [(ngModel)]="escuela.cantidadAlumnos" />
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Recurso Fiscal</label>
            <input [disabled]="!editModeHabilitado" name="recursoFiscal" type="number" [(ngModel)]="escuela.recursoFiscal" />
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Clasificacion</label>
            <input [disabled]="!editModeHabilitado" name="clasificacion" type="number" [(ngModel)]="escuela.clasificacion" />
          </div>

          <div class="column col-2">
            <label>Facultad</label>
            <select [disabled]="!editModeHabilitado" style="max-width: 65%;" name="facultad" required [(ngModel)]="idFacultad" class="form-control">
              <option *ngFor="let facultad of facultades" [ngValue]="facultad.idFacultad">
                {{ facultad.nombre }}
              </option>
            </select>
          </div>

          <div class="column col-2">
            <label>Licenciada</label>
            <select [disabled]="!editModeHabilitado" style="max-width: 65%;" name="licenciada" required [(ngModel)]="escuela.licenciada"
              class="form-control">
              <option value="true">SI</option>
              <option value="false">NO</option>
            </select>
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Fecha de Registro</label>
            <input [disabled]="!editModeHabilitado" name="fechaRegistro" type="date" [(ngModel)]="escuela.fechaRegistro" />
          </div>

          <div *ngIf="guardarButtonHabilitado" class="col-4" style="margin-top: 10px;">
            <button class="guardarButton">GUARDAR CAMBIOS</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
