<div class="container" style="margin-top: 100px;">
    <div class="d-flex justify-content-center h-50">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div style="margin-top: 10px;margin-bottom:-90px;">
              <h3>Registrarse</h3>
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">

              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="name" placeholder="Nombre" required ngModel #nameInput="ngModel">
              </div>
              <span class="help-block" *ngIf="nameInput.invalid && nameInput.touched" style="color:red;">Ingrese nombre(s)</span>

              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                </div>
                <input type="text" class="form-control" name="username" placeholder="Username" required ngModel #usernameInput="ngModel">
              </div>
              <span class="help-block" *ngIf="usernameInput.invalid && usernameInput.touched" style="color:red;">Ingrese nombre de usuario</span>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" name="email" placeholder="Email" required ngModel #emailInput="ngModel">
              </div>
              <span class="help-block" *ngIf="emailInput.invalid && emailInput.touched" style="color:red;">Ingrese correo electrónico</span>

              <div class="input-group mb-0">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="Contraseña" required ngModel #passwordInput="ngModel">
              </div>
              <span class="help-block" *ngIf="passwordInput.invalid && passwordInput.touched" style="color:red;">Ingrese contraseña</span>

              <div class="d-flex justify-content-center mt-3 login_container">
            <button [disabled]="registerForm.invalid || showLoading" type="submit" name="button" class="btn login_btn">
              <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
              <span *ngIf="showLoading">Cargando...</span>
              <span *ngIf="!showLoading">Registrarse</span>
            </button>
          </div>
        </form>
      </div>
          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              ¿Ya tienes una cuenta? <a routerLink="/login"  class="ml-2" style="color: #2C3E50;">Ingresar</a>
            </div>
          </div>
        </div>
      </div>
  </div>
