<body>
  <div class="container">
    <main>
      <h1>Ingresar Escuela</h1>
      <form #guardarContratoForm="ngForm" (ngSubmit)="guardarEscuela(guardarContratoForm.value)" class="form"
        novalidate>
        <div class="field">
          <label style="margin-right: 10px;">Nombre</label>
          <input name="nombre" type="text" [(ngModel)]="escuela.nombre" />
          <input name="idEscuela" type="text" [(ngModel)]="escuela.idEscuela" hidden />
        </div>
        <div class="field">
          <label style="margin-right: 10px;">Total Alumnos</label>
          <input name="cantidadAlumnos" type="number" [(ngModel)]="escuela.cantidadAlumnos" />
        </div>
        <div class="field">
          <label style="margin-right: 10px;">Recurso Fiscal</label>
          <input name="recursoFiscal" type="number" [(ngModel)]="escuela.recursoFiscal" />
        </div>
        <div class="field">
          <label style="margin-right: 10px;">Clasificacion</label>
          <input name="clasificacion" type="number" [(ngModel)]="escuela.clasificacion"  />
        </div>
        <div class="field">
          <label>Facultad</label>
          <select style="max-width: 15%;" name="facultad" required [(ngModel)]="escuela.facultad" class="form-control">
            <option *ngFor="let facultad of facultades" [ngValue]="facultad">
              {{ facultad.nombre }}
            </option>
          </select>
        </div>
        <div class="field">
          <label>Licenciada</label>
          <select style="max-width: 15%;" name="licenciada" required [(ngModel)]="escuela.licenciada"
            class="form-control">
            <option value="true">SI</option>
            <option value="false">NO</option>
          </select>
        </div>
        <div class="submit" style="margin-top: 10px;">
          <button>GUARDAR CAMBIOS</button>
        </div>
      </form>
    </main>
  </div>

</body>
