<body>
  <div class="container">

    <h1>Ingresar Escuela</h1>
    <div class="row">

      <form #guardarContratoForm="ngForm" (ngSubmit)="guardarEscuela(guardarContratoForm.value)" class="form"
        novalidate>

        <div class="row">

          <div class="column col-4">
            <label style="margin-right: 10px;">Nombre</label>
            <input name="nombre" type="text" [(ngModel)]="escuela.nombre" />
            <input name="idEscuela" type="text" [(ngModel)]="escuela.idEscuela" hidden />
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Total Alumnos</label>
            <input name="cantidadAlumnos" type="number" [(ngModel)]="escuela.cantidadAlumnos" />
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Recurso Fiscal</label>
            <input name="recursoFiscal" type="number" [(ngModel)]="escuela.recursoFiscal" />
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Clasificacion</label>
            <input name="clasificacion" type="number" [(ngModel)]="escuela.clasificacion" />
          </div>

          <div class="column col-2">
            <label>Facultad</label>
            <select style="max-width: 65%;" name="facultad" required [(ngModel)]="idFacultad"
              class="form-control">
              <option *ngFor="let facultadTemp of facultades" [ngValue]="facultadTemp.idFacultad">
                {{ facultadTemp.nombre }}
              </option>
            </select>
          </div>

          <div class="column col-2">
            <label>Licenciada</label>
            <select style="max-width: 65%;" name="licenciada" required [(ngModel)]="escuela.licenciada"
              class="form-control">
              <option value="true">SI</option>
              <option value="false">NO</option>
            </select>
          </div>

          <div class="column col-4">
            <label style="margin-right: 10px;">Fecha de Registro</label>
            <input name="fechaRegistro" type="date" [(ngModel)]="escuela.fechaRegistro" />
          </div>

          <div class="col-4" style="margin-top: 10px;">
            <button class="guardarButton">GUARDAR CAMBIOS</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
