
.filtrarButton {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 13px;
  margin-left: 10px;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #000000;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgb(114, 111, 111);
  height: 5rem;
}

.filtrarButton:hover {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 13px;
  margin-left: 10px;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #000000;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  height: 5rem;
}

.exportarButton {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 13px;
  margin-left: 10px;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(121, 162, 250);
  height: 5rem;
}

.exportarButton:hover {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 13px;
  margin-left: 10px;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(0, 81, 255);
  height: 5rem;
}

.limpiarFiltrosButton {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 13px;
  margin-left: 10px;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(115, 175, 118);
  height: 5rem;
}

.limpiarFiltrosButton:hover {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 13px;
  margin-left: 10px;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(13, 161, 21);
  height: 5rem;
}
