<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/">ESCUELA APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li style="cursor: pointer;" class="nav-item">
        <a class="nav-link" (click)="crearEscuela()">Ingresar</a>
      </li>
      <li style="cursor: pointer;" class="nav-item">
        <a class="nav-link" (click)="editarEscuela()">Modificar</a>
      </li>
    </ul>
  </div>
</nav>
