<div class="topnav">
  <a style="cursor: pointer;background-color: #3079b4; color: white;"  (click)="goToIndex()">ESCUELA APP</a>
  <a style="cursor: pointer;"  (click)="crearEscuela()">Nuevo</a>
  <a style="cursor: pointer;"  (click)="editarEscuela()">Modificar</a>
  <a style="cursor: pointer;"  (click)="verEstadisticas()">Estadísticas</a>
  <div *ngIf="isLoggedIn" class="login-container" >
    <form>
      <a>Bienvenido</a>
      <button style="cursor: pointer;" class="btn btn-danger" (click)="onLogOut()">Log Out</button>
    </form>
  </div>
</div>
